form {
  display: flex;
  flex-direction: column;
}

input, button {
  color: black;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 30%;
}

label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
